<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Instructor</li>
    </ol>
</nav>

<div class="view-user p-5">
    {{#each rows}}
    <div class="row mb-5">
        <div class="col text-center">
            <h3>{{this.instructorname}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <th>Instructor Id</th>
                    <th>Name</th>
                    <th>Domain</th>
                    <th>Years of Experience</th>
                    <th>Course Id</th>
                </thead>
                <tbody>
                    <td>{{this.instructorid}}</td>
                    <td>{{this.instructorname}}</td>
                    <td>{{this.domain}}</td>
                    <td>{{this.yearsofexperience}}</td>
                    <td>{{this.courseid}}</td>
                </tbody>
            </table>
        </div>
    </div>

    {{/each}}
</div>
