<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Courses</li>
    </ol>
</nav>

<div class="view-user p-5">
    {{#each rows}}
    <div class="row mb-5">
        <div class="col text-center">
            <h3>Course Id: {{this.courseid}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <th scope="col">Course Id</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Semester</th>
                </thead>
                <tbody>
                    <td>{{this.courseid}}</td>
                    <td>{{this.coursename}}</td>
                    <td>{{this.department}}</td>
                    <td>{{this.credits}}</td>
                    <td>{{this.semester}}</td>
                </tbody>
            </table>
        </div>
    </div>

    {{/each}}
</div>